{% for slot in slots %}
<fieldset class="or-pick">
  <legend>{{ prompt }}</legend>
  <div class="or-options">
    {% for option in slot.options %}
      {% if not forloop.first %}<span class="or" aria-hidden="true">or</span>{% endif %}
      <label class="or-option">
        <input type="radio" name="alt:{{ slot.key }}" value="{{ option.code }}"{% if slot.picked == option.code %} checked{% endif %}>
        <span class="code">{{ option.code }}</span>
        <span class="title">{{ option.title|title }}</span>
      </label>
    {% endfor %}
  </div>
</fieldset>
{% endfor %}
